<a href="https://colab.research.google.com/github/ramyasnl/Submission_Projects/blob/main/Python_Projects/movierating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/ramyasnl/Submission_Projects/main/movie_scores.csv")
df.head()

                             FILM  ...  Fandango_Difference
0  Avengers: Age of Ultron (2015)  ...                  0.5
1               Cinderella (2015)  ...                  0.5
2                  Ant-Man (2015)  ...                  0.5
3          Do You Believe? (2015)  ...                  0.5
4   Hot Tub Time Machine 2 (2015)  ...                  0.5

[5 rows x 22 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FILM                        146 non-null    object
 1   RottenTomatoes              146 non-null    int64
 2   RottenTomatoes_User         146 non-null    int64
 3   Metacritic                  146 non-null    int64
 4   Metacritic_User             146 non-null    float64
 5   IMDB                        146 non-null    float64
 6   Fandango_Stars              146 non-null    float64
 7   Fandango_Ratingvalue        146 non-null    float64
 8   RT_norm                     146 non-null    float64
 9   RT_user_norm                146 non-null    float64
 10  Metacritic_norm             146 non-null    float64
 11  Metacritic_user_nom         146 non-null    float64
 12  IMDB_norm                   146 non-null    float64
 13  RT_norm_round               146 non-null    float64
 14  RT_user_norm_round          146 non-null    float64
 15  Metacritic_norm_round       146 non-null    float64
 16  Metacritic_user_norm_round  146 non-null    float64
 17  IMDB_norm_round             146 non-null    float64
 18  Metacritic_user_vote_count  146 non-null    int64
 19  IMDB_user_vote_count        146 non-null    int64
 20  Fandango_votes              146 non-null    int64
 21  Fandango_Difference         146 non-null    float64
dtypes: float64(15), int64(6), object(1)
memory usage: 25.2+ KB

In [4]:
# List all the columns in the table
df.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [7]:
# We only want IMDb data, so create a new table that takes the Film and all the columns relating to IMDB
dfmovie = df[["FILM", "IMDB", "IMDB_norm",
                            "IMDB_norm_round", "IMDB_user_vote_count"]]
dfmovie.head()

                             FILM  IMDB  ...  IMDB_norm_round  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8  ...              4.0                271107
1               Cinderella (2015)   7.1  ...              3.5                 65709
2                  Ant-Man (2015)   7.8  ...              4.0                103660
3          Do You Believe? (2015)   5.4  ...              2.5                  3136
4   Hot Tub Time Machine 2 (2015)   5.1  ...              2.5                 19560

[5 rows x 5 columns]

# Calculating the Average Rating of the Movies

In [11]:
meanrating_df = dfmovie['IMDB'].mean()
print("Average of Ratings is",meanrating_df)

Average of Ratings is 6.736986301369863

# Sorted in Descending Order movies ratings

In [12]:
newdf =dfmovie.sort_values(by=['IMDB'], ascending=[False])
newdf.head()

                              FILM  IMDB  ...  IMDB_norm_round  IMDB_user_vote_count
140              Inside Out (2015)   8.6  ...              4.5                 96252
76   Straight Outta Compton (2015)   8.4  ...              4.0                 15982
95    The Salt of the Earth (2015)   8.4  ...              4.0                  6605
88       Mad Max: Fury Road (2015)   8.3  ...              4.0                292023
28               Wild Tales (2014)   8.2  ...              4.0                 50285

[5 rows x 5 columns]